@font-face {
  font-family: "BebasNeue-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("BebasNeue-Regular"), url("../fonts/BebasNeue-Regular/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular/BebasNeue-Regular.ttf") format("ttf"), url("../fonts/BebasNeue-Regular/BebasNeue-Regular.eot") format("eot"); }
@font-face {
  font-family: "BebasNeue-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("BebasNeue-Bold"), url("../fonts/BebasNeue-Bold/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeue-Bold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeue-Bold/BebasNeueBold.ttf") format("ttf"), url("../fonts/BebasNeue-Bold/BebasNeueBold.eot") format("eot"); }
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular/Roboto-Regular.eot") format("eot"); }
@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Light"), url("../fonts/Roboto-Light/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light/Roboto-Light.ttf") format("ttf"), url("../fonts/Roboto-Light/Roboto-Light.eot") format("eot"); }
@font-face {
  font-family: "Roboto-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-LightItalic"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.ttf") format("ttf"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.eot") format("eot"); }
/* main fonts var */
/***************************** general style **************************** */
*:focus, *:active {
  outline: none !important; }

html {
  overflow: hidden;
  font-size: 16px; }

body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #2d2d2d;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFFF;
  overflow-y: scroll;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

h1 {
  font-size: 60pt; }

h2 {
  font-size: 50pt; }

h3 {
  font-size: 30pt; }

h4 {
  font-size: 20pt; }

.title {
  font-family: "BebasNeue-Regular", sans-serif;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase; }
  .title--bold {
    font-family: "BebasNeue-Bold", sans-serif; }
  .title--sub {
    font-family: "Roboto-Regular", sans-serif; }

.btn {
  width: 100%;
  height: auto;
  display: inline-block;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 35px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 0px solid transparent;
  background: #fee490;
  background: linear-gradient(180deg, #fee490 0%, #fab539 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 14px 0px 11px;
  -moz-box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21); }
  .btn--ic {
    position: relative;
    padding-right: 60px; }
    .btn--ic:after {
      content: "";
      position: absolute;
      top: calc(50% - 37px/2);
      right: 14px;
      background-image: url("../images/ic_fingerprint.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 30px;
      height: 37px; }
  .btn__ic {
    position: absolute;
    right: 60px;
    top: 14px;
    height: calc(100% - 14px - 11px);
    width: 1px;
    background-color: #ffe76d; }

.logo {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase; }
  .logo__link {
    font-family: "BebasNeue-Bold", sans-serif; }

/*# sourceMappingURL=style.css.map */
