@font-face {
  font-family: "BebasNeue-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("BebasNeue-Regular"), url("../fonts/BebasNeue-Regular/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular/BebasNeue-Regular.ttf") format("ttf"), url("../fonts/BebasNeue-Regular/BebasNeue-Regular.eot") format("eot"); }
@font-face {
  font-family: "BebasNeue-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("BebasNeue-Bold"), url("../fonts/BebasNeue-Bold/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeue-Bold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeue-Bold/BebasNeueBold.ttf") format("ttf"), url("../fonts/BebasNeue-Bold/BebasNeueBold.eot") format("eot"); }
@font-face {
  font-family: "BebasNeue-Book";
  font-style: normal;
  font-weight: normal;
  src: local("BebasNeue-Book"), url("../fonts/BebasNeue-Book/BebasNeue-Book.woff2") format("woff2"), url("../fonts/BebasNeue-Book/BebasNeue-Book.woff") format("woff"), url("../fonts/BebasNeue-Book/BebasNeue-Book.ttf") format("ttf"), url("../fonts/BebasNeue-Book/BebasNeue-Book.eot") format("eot"); }
@font-face {
  font-family: "BebasNeue-Light";
  font-style: normal;
  font-weight: normal;
  src: local("BebasNeue-Light"), url("../fonts/BebasNeue-Light/BebasNeue-Light.woff2") format("woff2"), url("../fonts/BebasNeue-Light/BebasNeue-Light.woff") format("woff"), url("../fonts/BebasNeue-Light/BebasNeue-Light.ttf") format("ttf"), url("../fonts/BebasNeue-Light/BebasNeue-Light.eot") format("eot"); }
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular/Roboto-Regular.eot") format("eot"); }
@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Light"), url("../fonts/Roboto-Light/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light/Roboto-Light.ttf") format("ttf"), url("../fonts/Roboto-Light/Roboto-Light.eot") format("eot"); }
@font-face {
  font-family: "Roboto-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-LightItalic"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.ttf") format("ttf"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.eot") format("eot"); }
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold/Roboto-Bold.eot") format("eot"); }
@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Black"), url("../fonts/Roboto-Black/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black/Roboto-Black.ttf") format("ttf"), url("../fonts/Roboto-Black/Roboto-Black.eot") format("eot"); }
/* main fonts var */
/***************************** general style **************************** */
*:focus, *:active {
  outline: none !important; }

html {
  overflow: hidden;
  font-size: 16px; }

body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #000000;
  line-height: 1;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

.container {
  padding-left: 0px;
  padding-right: 0px; }

.title {
  font-family: "BebasNeue-Regular", sans-serif;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase; }
  .title--bold {
    font-family: "BebasNeue-Bold", sans-serif; }
  .title--sub {
    font-family: "Roboto-Light", sans-serif; }

.btn {
  width: 100%;
  height: auto;
  display: inline-block;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 35px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 0px solid transparent;
  background: #fee490;
  background: linear-gradient(180deg, #fee490 0%, #fab539 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 14px 0px 11px;
  -moz-box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21); }
  .btn--ic {
    position: relative;
    padding-right: 60px; }
    .btn--ic:after {
      content: "";
      position: absolute;
      top: calc(50% - 37px/2);
      right: 14px;
      background-image: url("../images/ic_fingerprint.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 30px;
      height: 37px; }
  .btn__ic {
    position: absolute;
    right: 60px;
    top: 14px;
    height: calc(100% - 14px - 11px);
    width: 1px;
    background-color: #ffe76d; }

.highlighted {
  background-color: #ffd600; }

.whatsapp {
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-image: url(../images/ic_whatsapp.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.telegram {
  display: inline-block;
  width: 18px;
  min-width: 18px;
  height: 16px;
  background-image: url(../images/ic_telegram.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.instagram {
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  background-image: url(../images/ic_instagram.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.facebook {
  display: inline-block;
  width: 19px;
  min-width: 19px;
  height: 19px;
  background-image: url(../images/ic_facebook.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.clock {
  position: relative; }
  .clock:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -37px;
    width: 27px;
    height: 27px;
    background-color: transparent;
    background-image: url("../images/ic_clock.svg");
    background-repeat: no-repeat;
    background-size: cover; }

.ic-phone {
  position: relative; }
  .ic-phone:after {
    content: "";
    position: absolute;
    bottom: -54px;
    left: calc(50% - 17px);
    width: 34px;
    height: 34px;
    background-color: transparent;
    background-image: url("../images/ic_phone.svg");
    background-repeat: no-repeat;
    background-size: cover; }

.line {
  display: block;
  width: 100px;
  height: 1px;
  margin: 22px 0px;
  border-top: 1px solid #FFFFFF; }

.mb-3px {
  margin-bottom: 3px !important; }

.mb-18px {
  margin-bottom: 18px !important; }

.mb-10px {
  margin-bottom: 10px !important; }

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 18px 18px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #919191;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0; }
  .form-control:focus {
    color: #919191;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .form-control::-webkit-input-placeholder, .form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-ms-input-placeholder, .form-control::placeholder {
    color: red;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none; } }
.form-group {
  margin-bottom: 10px; }

.form-label {
  width: 100%;
  margin-bottom: 0; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-top: 32px; }

.logo {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase; }
  .logo__link {
    font-family: "BebasNeue-Bold", sans-serif;
    letter-spacing: 0.6px; }
    .logo__link:hover {
      text-decoration: none; }
  .logo__text--blue {
    color: #009bf9; }
  .logo__text--grey {
    color: #010101; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0; }
  .menu__item {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 1;
    margin-right: 30px; }
  .menu__link {
    color: #040404; }
    .menu__link:hover {
      text-decoration: none;
      color: #009bf9; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }
  .contacts__text {
    font-size: 20px;
    font-family: "BebasNeue-Regular", sans-serif;
    color: #000000;
    line-height: 20px;
    letter-spacing: 0.5px; }
  .contacts__phone {
    font-size: 20px;
    font-family: "BebasNeue-Regular", sans-serif;
    color: #000000;
    line-height: 20px;
    letter-spacing: 0.4px; }
    .contacts__phone:hover {
      text-decoration: none;
      color: #000000; }
  .contacts-wa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    width: 103px;
    font-size: 12px;
    font-family: "Roboto-Regular", sans-serif;
    color: #45b7fe;
    text-align: right;
    line-height: 1.5; }
    .contacts-wa:hover {
      text-decoration: none;
      color: #45b7fe; }

.header .logo {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 7px;
  flex-grow: 1; }
.header .menu {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 14px;
  margin-left: 60px;
  padding: 0px;
  flex-grow: 2; }
  @media screen and (min-width: 768px) {
    .header .menu {
      margin-left: 20px; } }
  @media screen and (min-width: 768px) {
    .header .menu__item {
      margin-right: 10px; } }
.header .contacts-wa {
  margin-top: 3px; }
.header .contacts__phone {
  margin-top: 3px; }

.banner {
  max-width: 615px;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: relative; }
  .banner:after {
    content: "";
    position: absolute;
    top: 168px;
    right: -636px;
    width: 619px;
    height: 632px;
    z-index: 5;
    background-color: transparent;
    background-image: url("../upload/laptop.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .banner:before {
    content: "";
    position: absolute;
    top: 475px;
    right: -760px;
    width: 700px;
    height: 535px;
    z-index: 6;
    background-color: transparent;
    background-image: url("../upload/money_fly.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .banner .btn {
    width: 333px; }
  .banner .title {
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 62px; }
  .banner .title--sub {
    line-height: 1.6;
    margin-bottom: 39px; }
  .banner .time-label {
    right: -213px;
    top: 240px; }

.wrap-header {
  width: 100%;
  background-color: #ffffff;
  background-image: url(../upload/bg_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .wrap-header .container {
    min-height: 830px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.time-label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
  width: 247px;
  height: 247px;
  top: 0px;
  right: 0px;
  color: #FFFFFF;
  font-family: "BebasNeue-Regular", sans-serif;
  line-height: 1;
  text-align: center;
  background-color: transparent;
  background-image: url(../images/ic_label.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat; }
  .time-label .inner {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 30px;
    margin-top: -10px; }
  .time-label__digit {
    font-size: 50px; }
  .time-label__text {
    font-size: 24px;
    line-height: 28px; }

.tender-score {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 53px; }
  .tender-score__in {
    width: 100px;
    height: 120px;
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Roboto-Light", sans-serif;
    padding: 13px 18px;
    line-height: 16px; }
    .tender-score__in--red {
      width: 126px;
      background: #f55c90;
      background: linear-gradient(182deg, #f55c90 0%, #f1535e 100%);
      margin-right: 15px; }
    .tender-score__in--blue {
      width: 154px;
      background: #64b2ea;
      background: linear-gradient(182deg, #64b2ea 0%, #6282de 100%); }
  .tender-score__count {
    display: block;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 26px;
    margin-top: 11px; }
  .tender-score__label {
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 10px; }

.tender-score__in--red .tender-score__label {
  background-color: #b43a3e; }

.tender-score__in--blue .tender-score__label {
  background-color: #3e6bbd; }

.feature-bl {
  margin-left: 30px; }
  .feature-bl .title {
    margin: 100px 0px; }

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .features__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    list-style: none;
    width: 50%;
    padding: 27px 10px;
    font-size: 18px;
    line-height: 25px; }
    .features__item:nth-child(even) {
      width: 45%; }
  .features__ic {
    display: inline-block;
    width: 100px;
    min-width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #f2f0fd;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%; }
    .features__ic--money {
      background-image: url("../images/ic_feature_money.svg");
      background-size: 55px; }
    .features__ic--clipboard {
      background-image: url("../images/ic_feature_clipboard.svg");
      background-size: 52px; }
    .features__ic--pros_cons {
      background-image: url("../images/ic_feature_pros_cons.svg");
      background-size: 52px; }
    .features__ic--certif {
      background-image: url("../images/ic_feature_certificate.svg");
      background-size: 44px; }

.appl-form {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 474px;
  font-size: 18px;
  color: #FFFFFF;
  padding: 50px;
  background: #6eb4eb;
  background: linear-gradient(156deg, #6eb4eb 0%, #090979 33%, #7036c4 72%, #487bca 100%);
  margin-bottom: 100px;
  -moz-box-shadow: 2px -2px 1px 2px #ffd600;
  -webkit-box-shadow: 2px -2px 1px 2px #ffd600;
  box-shadow: 2px -2px 1px 2px #ffd600; }
  .appl-form .form-control {
    -moz-box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.21);
    padding: 21px 18px 15px 44px; }
  .appl-form:after, .appl-form:before {
    background: #FFFFFF;
    content: "";
    height: 60px;
    position: absolute;
    width: 110px; }
  .appl-form:after {
    left: -33px;
    transform: rotate(-40deg);
    top: -22px; }
  .appl-form:before {
    right: -37px;
    transform: rotate(-40deg);
    bottom: -17px; }

.appl-form__title {
  display: inline-block;
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
  margin-bottom: 35px;
  text-align: center;
  position: relative; }
  .appl-form__title:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -23px;
    top: -20px;
    width: 38px;
    height: 34px;
    background-color: transparent;
    background-image: url("../images/ic_chat.svg");
    background-repeat: no-repeat;
    background-size: cover; }

.appl-form__phone {
  display: inline-block;
  font-size: 18px;
  font-family: "BebasNeue-Regular", sans-serif;
  line-height: 1;
  letter-spacing: 0.4px;
  color: #FFFFFF; }
  .appl-form__phone:hover, .appl-form__phone:active, .appl-form__phone:visited {
    color: #FFFFFF;
    text-decoration: none; }

.appl-form__text {
  font-size: 8px; }

.appl-form__form .form-label {
  position: relative; }
  .appl-form__form .form-label:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url("../images/ic_icon_name.svg");
    background-size: cover;
    background-repeat: no-repeat; }
.appl-form__form .username:before {
  width: 17px;
  height: 19px;
  margin-left: calc(17px / 2);
  margin-top: calc(-19px / 2);
  background-image: url("../images/ic_icon_name.svg"); }
.appl-form__form .userphone:before {
  width: 16px;
  height: 16px;
  margin-left: calc(16px / 2);
  margin-top: calc(-16px / 2);
  background-image: url("../images/ic_icon_phone.svg"); }

.appl-form__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.mission-bl {
  display: block;
  margin: 0 auto;
  width: 764px;
  padding: 34px 40px 28px;
  background-color: #009af9;
  color: #FFFFFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative; }
  .mission-bl:before {
    content: "";
    position: absolute;
    top: 0px;
    right: -1px;
    width: 280px;
    height: 139px;
    background-color: transparent;
    background-image: url("../upload/our_mission.png");
    background-repeat: no-repeat;
    background-size: contain; }
  .mission-bl .title {
    font-size: 40px;
    margin-bottom: 0;
    letter-spacing: 0.8px;
    position: relative; }
    .mission-bl .title:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 33%;
      width: 257px;
      height: 1px;
      background-color: #FFFFFF; }
  .mission-bl .subtitle {
    font-family: "BebasNeue-Regular", sans-serif;
    font-weight: normal;
    font-size: 27px;
    margin-bottom: 0;
    line-height: 1.3;
    letter-spacing: -0.3px; }

.steps-wrap--white {
  background-color: #FFFFFF; }
.steps-wrap--grey {
  background-color: #f2f0fd; }

.steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 100px 0px; }

.steps-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 472px;
  padding: 63px 45px 56px;
  margin: 0 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative; }
  .steps-item--blue {
    background-color: #009af9;
    color: #FFFFFF; }
  .steps-item--transp {
    background-color: aquamarine;
    color: #000000; }
  .steps-item--row {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .steps-item .btn {
    width: 254px;
    padding: 9px 0px 9px;
    letter-spacing: 0.3px; }

.phrase {
  display: block;
  font-size: 32px;
  font-family: "BebasNeue-Regular", sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.3px;
  margin-bottom: 12px; }

.quote {
  position: relative; }
  .quote:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -36px;
    left: 0px;
    width: 25px;
    height: 20px;
    background-color: transparent;
    background-image: url("../images/ic_right_quote.svg");
    background-repeat: no-repeat;
    background-size: cover; }

.footnote {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.3px; }

.steps-item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 24px; }

.steps__num {
  font-size: 60px;
  font-family: "BebasNeue-Light", sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase; }

.steps-item__title {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
  letter-spacing: 1px;
  line-height: 1.4; }

.steps-item__text {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  margin-bottom: 38px; }

.steps-item--s {
  width: 550px;
  padding: 20px 0px 20px;
  position: relative; }
  .steps-item--s:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 13px;
    right: 0px;
    width: 193px;
    height: 111px;
    background-color: transparent;
    background-image: url("../upload/magnet.png");
    background-repeat: no-repeat;
    background-size: cover; }

.steps-item--t {
  width: 547px;
  padding: 20px 0px 196px; }
  .steps-item--t:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -200px;
    right: 48px;
    width: 504px;
    height: 312px;
    background-color: transparent;
    background-image: url("../upload/elephant_big.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .steps-item--t .title {
    margin-bottom: 15px; }

.steps-item--fh {
  padding: 60px 52px 0;
  width: 480px; }

.ava {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  bottom: 18px;
  right: 27px; }
  .ava__pict {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #FFFFFF;
    overflow: hidden; }
  .ava img {
    width: 106px;
    height: 101px; }

.mission {
  margin-top: 50px;
  background-color: #f2f0fd;
  width: 98%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.mission_title {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 110px; }
  .mission_title div {
    background-color: #009af9;
    width: 764px;
    height: 137px;
    border-radius: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 43px;
    position: relative; }
  .mission_title div::after {
    background-image: url("../upload/our_mission.png");
    background-size: 280px 139px;
    width: 280px;
    height: 139px;
    display: block;
    position: absolute;
    border-bottom-right-radius: 10px;
    right: 0;
    bottom: 0;
    content: ""; }

.mission_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  .mission_content .mission_capture {
    margin: 10px;
    width: 380px;
    display: flex;
    flex-direction: column; }
    .mission_content .mission_capture .description {
      color: #6e6d73; }
    .mission_content .mission_capture .img img {
      width: 323px;
      height: 431px;
      -moz-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      transform: rotate(20deg); }
    .mission_content .mission_capture .slogan {
      width: 300px;
      height: 93px;
      padding: 30px 35px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: white;
      font-family: "Roboto-LightItalic";
      border-radius: 10px;
      box-shadow: 0px 48px 1px -24px rgba(213, 219, 233, 0.55), 0px 24px 1px -12px rgba(213, 219, 233, 0.55); }
      .mission_content .mission_capture .slogan .tooltip_info {
        display: inline-block;
        width: 20px;
        height: 20px; }
    .mission_content .mission_capture .slogan::before {
      background-image: url("../upload/dollar.png");
      background-size: 77px 50px;
      width: 77px;
      height: 50px;
      display: block;
      position: absolute;
      right: -27px;
      top: -10px;
      transform: rotate(20deg);
      content: " "; }
    .mission_content .mission_capture .slogan span::after {
      content: url("../upload/tooltip_info.png");
      width: 19px;
      height: 19px;
      display: inline-block;
      vertical-align: bottom; }
  .mission_content .blue {
    color: #18a1ff; }
  .mission_content .txtbg {
    background-color: #ffd600; }
  .mission_content .bold {
    font-weight: bold; }
  .mission_content .mission_info {
    min-height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around; }
    .mission_content .mission_info .mission_block {
      margin: 10px;
      width: 340px;
      height: 190px;
      border-radius: 10px;
      background-color: white;
      padding: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Roboto-Light";
      position: relative; }
      .mission_content .mission_info .mission_block .text {
        color: #707070; }
      .mission_content .mission_info .mission_block .ask_question {
        color: #5cbdfe;
        align-self: flex-end; }
    .mission_content .mission_info .mission_block::before {
      background-color: #2498f2;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 49px 47px;
      width: 92px;
      height: 92px;
      border-radius: 46px;
      display: block;
      position: absolute;
      right: 20px;
      top: -46px;
      content: " "; }
    .mission_content .mission_info .research::before {
      background-image: url("../images/ic_research.svg"); }
    .mission_content .mission_info .bar_chart::before {
      background-image: url("../images/ic_bar_chart.svg"); }
    .mission_content .mission_info .profile::before {
      background-image: url("../images/ic_profile.svg"); }
    .mission_content .mission_info .resume::before {
      background-image: url("../images/ic_resume.svg"); }
    .mission_content .mission_info .analytics::before {
      background-image: url("../images/ic_analytics.svg"); }
    .mission_content .mission_info .bar_chart1::before {
      background-image: url("../images/ic_bar_chart1.svg"); }

.mission_footer {
  height: 236px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: "Roboto-Light"; }
  .mission_footer span {
    display: inline; }

.phone-appl-wrap {
  padding: 100px 0px; }

.phone-appl-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 975px;
  padding: 32px;
  margin: 0 auto;
  background: #6eb4eb;
  background: linear-gradient(156deg, #6eb4eb 0%, #090979 33%, #7036c4 72%, #487bca 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative; }

.phone-appl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 350px;
  min-width: 350px;
  height: 390px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  background-color: #FFFFFF;
  padding: 30px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto-Regular", sans-serif;
  color: #282828;
  margin-right: 30px;
  text-align: center; }

.phone-appl__title {
  color: #2498f2;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; }

.phone-appl__subtitle {
  margin-bottom: 20px; }

.phone-appl__text {
  font-size: 14px;
  color: #5f5f5f;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 50px;
  margin-bottom: 22px; }

.phone-appl__item {
  color: #2498f2;
  font-size: 14px;
  position: relative;
  padding-left: calc(9px + 5px);
  margin-bottom: 10px; }
  .phone-appl__item:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #2498f2; }

.phone-appl-num {
  font-size: 22px;
  margin-bottom: 10px; }

.phone-appl-msg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.phone-appl-msg__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px;
  margin-right: 10px;
  font-size: 12px; }
  .phone-appl-msg__item .whatsapp {
    width: 21px;
    height: 21px; }
  .phone-appl-msg__item .telegram {
    width: 18px;
    height: 16px; }

.phone-img {
  display: inline-block;
  position: absolute;
  right: -88px;
  top: 33px;
  width: 290px;
  height: 422px; }
  .phone-img img {
    width: 100%;
    height: 100%; }

.phone-appl__form {
  width: 100%;
  padding: 0 10px; }
  .phone-appl__form .form-control {
    border: 1px solid #dddddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 12px 18px 12px 73px; }
  .phone-appl__form .form-label {
    position: relative; }
    .phone-appl__form .form-label:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 56px;
      height: 35px;
      width: 1px;
      background-color: #dddddd; }
  .phone-appl__form .form-group {
    margin-bottom: 20px; }
  .phone-appl__form .btn {
    padding: 8px 0px 10px; }

.call-phone .ic-phone {
  margin-bottom: 65px; }
.call-phone .line {
  border-color: #e8e8e8;
  width: 95%;
  margin: 15px 0px; }

.spred-wrap {
  background: #2498f2;
  background: linear-gradient(-56deg, #f2f0fd 53%, #2498f2 0);
  background-size: 100% 660px;
  background-repeat: no-repeat;
  padding: 140px 0px;
  position: relative; }

.spred {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .spred .phone-appl__form {
    width: 256px;
    margin: 0 auto; }

.spred-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 338px;
  padding: 38px 30px;
  color: #FFFFFF;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 27px; }

.spred-item__title {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: inline-block;
  padding-right: 6px;
  font-size: 50px;
  font-family: "Roboto-Black", sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-bottom: 40px; }
  .spred-item__title:after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 1px;
    width: 100%;
    height: 1px;
    border-top: 1px solid #FFFFFF; }

.spred-item__text {
  margin-bottom: 38px; }

.spred-img {
  display: inline-block;
  width: 772px;
  height: 496px; }

.footer-wrap {
  background-color: #0e3264;
  padding: 40px 0px 20px; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #f2f0fd;
  font-size: 18px;
  line-height: 29px; }
  .footer .btn {
    padding: 5px 0px 5px; }
  .footer .line {
    width: 83%;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    border-color: #d1d1d1;
    margin: 27px 0px 10px; }

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%; }

.footer-info {
  width: 375px; }
  .footer-info.footer-text {
    color: #f2f0fd; }

.footer-text {
  font-size: 16px;
  line-height: 25px;
  color: #bebebe; }

.footer-ic {
  position: relative;
  padding-left: 40px; }
  .footer-ic:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain; }

.footer-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  width: 160px;
  margin-right: 44px; }
  .footer-phone .footer-ic:before {
    top: 3px;
    width: 17px;
    height: 17px;
    background-image: url("../images/ic_icon_phone_y.svg"); }

.footer-phone__link {
  color: #f2f0fd;
  text-decoration: none; }
  .footer-phone__link:hover, .footer-phone__linkactive, .footer-phone__link:visited {
    text-decoration: none;
    ccolor: #f2f0fd; }

.footer-email {
  width: 200px;
  margin-right: 30px; }
  .footer-email .footer-ic:before {
    top: 1px;
    width: 18px;
    height: 17px;
    background-image: url("../images/ic_email.svg"); }

.footer-msg {
  width: 256px; }
  .footer-msg .footer-ic:before {
    width: 16px;
    height: 15px;
    background-image: url("../images/ic_planet-earth.svg"); }

.msg-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0px;
  padding: 0px; }
  .msg-menu__item {
    list-style: none;
    margin: 0px 8px; }
  .msg-menu .whatsapp {
    width: 20px;
    min-width: 20px;
    height: 20px; }

.develop-info {
  font-size: 14px;
  line-height: 33px;
  color: #8b8b8b; }

.yellow {
  color: #e9c514; }

.footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

/*# sourceMappingURL=style.css.map */
