
@-moz-keyframes circle-anim
  0%
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg)
    opacity: .1
    -moz-opacity: .1
    -webkit-opacity: .1
    -o-opacity: .1

  30%
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg)
    opacity: 1
    -moz-opacity: 1
    -webkit-opacity: 1
    -o-opacity: 1

  100%
    -moz-transform: rotate(0deg) scale(1) skew(1deg)
    opacity: .1
    -moz-opacity: .1
    -webkit-opacity: .1
    -o-opacity: .1

@-webkit-keyframes circle-anim
  0%
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg)
    -webkit-opacity: .1

  30%
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg)
    -webkit-opacity: 1

  100%
    -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    -webkit-opacity: .1

@-o-keyframes circle-anim
  0%
    -o-transform: rotate(0deg) kscale(0.5) skew(1deg)
    -o-opacity: .1

  30%
    -o-transform: rotate(0deg) scale(0.7) skew(1deg)
    -o-opacity: 1

  100%
    -o-transform: rotate(0deg) scale(1) skew(1deg)
    -o-opacity: .1

@keyframes circle-anim
  0%
    transform: rotate(0deg) scale(0.5) skew(1deg)
    opacity: .1

  30%
    transform: rotate(0deg) scale(0.7) skew(1deg)
    opacity: 1

  100%
    transform: rotate(0deg) scale(1) skew(1deg)
    opacity: .1