/***************************** general style *****************************/
*
  &:focus, &:active
    outline: none !important

html
  font-size: $fontSizeMain

body
  font:
    family: $fontRobotoLight
    size: 1em
    weight: 400
  color: $fontColorMain
  line-height: 1
  min-width: $bodyMinWidth
  margin: 0
  padding: 0
  height: 100vh
  background-color: #FFFFFF
  overflow-x: hidden
  overflow-y: scroll
  scroll-behavior: smooth

a
  text-decoration: none

h1
  font-size: $fontSize_h1
h2
  font-size: $fontSize_h2
  +phone
    font-size: 40px
h3
  font-size: $fontSize_h3
h4
  font-size: $fontSize_h4

.body_wrap
  overflow: hidden

.container
  padding-left: 0px
  padding-right: 0px
  +phone
    padding-left: 15px
    padding-right: 15px

.title
  font-family: $fontBebasNeueReg
  font-weight: normal
  text-align: left
  text-transform: uppercase
  &--bold
    font-family: $fontBebasNeueBold
  &--sub
    font-family: $fontRobotoLight

.btn
  width: 100%
  height: auto
  display: inline-block
  font-family: $fontRobotoReg
  font-size: $btn-fs
  line-height: $btn-lh
  color: $btn-color
  text-align: center
  vertical-align: middle
  cursor: pointer
  user-select: none
  border: $btn-border-width solid transparent
  background: rgb(254,228,144)
  background: linear-gradient(180deg, rgba(254,228,144,1) 0%, rgba(250,181,57,1) 100%)
  +border-radius($btn-border-rad)
  padding: $btn-pt 0px $btn-pb
  +box_shadow($btn-shadows)
  position: relative
  overflow: hidden
  &--ic
    position: relative
    padding-right: $btn-ic-pr
    &:after
      content: ''
      position: absolute
      top: calc(50% - 37px/2)
      right: 14px
      background:
        image: url("../images/ic_fingerprint.png")
        repeat: no-repeat
        size: cover
      width: $btn-ic-width
      height: $btn-ic-height
  &__ic
    position: absolute
    right: $btn-ic-pr
    top: $btn-pt
    height: calc(100% - #{$btn-pt} - #{$btn-pb})
    width: 1px
    background-color: #ffe76d

.btn-close
  padding: 0px
  width: 15px
  height: 15px
  +border_radius(0px)
  box-shadow: none
  background-color: transparent
  background-image: url(../images/ic_close.svg)
  background-repeat: no-repeat
  background-size: cover
  +rotate(45)

.btn-gamburg
  width: 95px
  height: 40px
  font-size: 16px
  line-height: 1
  color: #FFFFFF
  background: #9231ce
  +box_shadow(none)

.highlighted
  background-color: $highlighted-color

.whatsapp
  display: inline-block
  width: $wa-width
  min-width: $wa-width
  height: $wa-height
  background:
    image: url(../images/ic_whatsapp.svg)
    size: contain
    repeat: no-repeat

.telegram
  display: inline-block
  width: $tl-width
  min-width: $tl-width
  height: $tl-height
  background:
    image: url(../images/ic_telegram.svg)
    size: contain
    repeat: no-repeat

.instagram
  display: inline-block
  width: $ins-width
  min-width: $ins-width
  height: $ins-height
  background:
    image: url(../images/ic_instagram.svg)
    size: contain
    repeat: no-repeat

.facebook
  display: inline-block
  width: $fb-width
  min-width: $fb-width
  height: $fb-height
  background:
    image: url(../images/ic_facebook.svg)
    size: contain
    repeat: no-repeat


.clock
  position: relative
  &:before
    content: ''
    position: absolute
    top: -4px
    left: -37px
    width: 27px
    height: 27px
    background:
      color: transparent
      image: url("../images/ic_clock.svg")
      repeat: no-repeat
      size: cover


.ic-phone
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: -54px
    left: calc(50% - 17px)
    width: 34px
    height: 34px
    background:
      color: transparent
      image: url("../images/ic_phone.svg")
      repeat: no-repeat
      size: cover

.line
  display: block
  width: 100px
  height: 1px
  margin: 22px 0px
  border-top: 1px solid #FFFFFF

.arrow
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: 0px
    right: -150px
    width: 240px
    height: 100px
    transform: rotate(45deg) rotateX(180deg)
    z-index: 1
    background:
      color: transparent
      image: url("../upload/arrow.png")
      repeat: no-repeat
      size: contain

.mb-3px
  margin-bottom: 3px !important

.mb-18px
  margin-bottom: 18px !important

.mb-10px
  margin-bottom: 10px !important

.bold-rob
  font-family: $fontRobotoBlack

.button__blik
  overflow: hidden

.button__blik::after
  content: ""
  position: absolute
  top: -50%
  right: -50%
  bottom: -50%
  left: -50%
  background: -webkit-gradient(linear, left top, left bottom, from(#e5ac8e), color-stop(50%, #fff), color-stop(50%, #e5ac8e))
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 172, 142, 0)), color-stop(50%, rgba(255, 255, 255, 0.7)), color-stop(50%, rgba(229, 172, 142, 0)))
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 172, 142, 0)), color-stop(50%, rgba(255, 255, 255, 0.7)), to(rgba(229, 172, 142, 0)))
  background: -webkit-linear-gradient(top, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.7) 50%, rgba(229, 172, 142, 0))
  background: -moz- oldlinear-gradient(top, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.7) 50%, rgba(229, 172, 142, 0))
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.7) 50%, rgba(229, 172, 142, 0))
  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em)
  -ms-transform: rotate(60deg) translate(-5em, 7.5em)
  -moz-transform: rotateZ(60deg) translate(-5em, 7.5em)
  -o-transform: rotateZ(60deg) translate(-5em, 7.5em)
  transform: rotateZ(60deg) translate(-5em, 7.5em)
  opacity: 0
  filter: alpha(opacity = 0)
  -webkit-animation: sheens 3s infinite
  -moz-animation: sheens 3s infinite
  animation: sheens 3s infinite
  z-index: 1

.modal-dialog
  text-align: center

.modal-dialog-centered
  +flexbox
  +justify-content(center)
  +align-items(center)
  min-height: calc(100% - 60px)

//to-top button
.to-top
  display: inline-block
  background-color: $logo-blue
  width: 40px
  height: 40px
  padding: 0px
  text-align: center
  +border_radius(50%)
  position: fixed
  bottom: 130px
  right: 40px
  transition: background-color .3s, opacity .5s, visibility .5s
  opacity: 0
  visibility: hidden
  z-index: 1000
  &::after
    content: ""
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid $btn-color
  &.show
    opacity: 1
    visibility: visible
    line-height: 10px

.blue_text
  color: $blue