/***************************** general style *****************************/
*
  &:focus, &:active
    outline: none !important

html
  overflow: hidden
  font-size: $fontSizeMain

body
  font:
    family: $fontRobotoReg
    size: 1em
    weight: 400
  color: $fontColorMain
  line-height: 1
  //min-width: $bodyMinWidth
  margin: 0
  padding: 0
  height: 100vh
  background-color: #FFFFFF
  overflow-x: hidden
  overflow-y: scroll
  scroll-behavior: smooth

a
  text-decoration: none

h1
  font-size: $fontSize_h1
h2
  font-size: $fontSize_h2
h3
  font-size: $fontSize_h3
h4
  font-size: $fontSize_h4

.container
  padding-left: 0px
  padding-right: 0px

.title
  font-family: $fontBebasNeueReg
  font-weight: normal
  text-align: left
  text-transform: uppercase
  &--bold
    font-family: $fontBebasNeueBold
  &--sub
    font-family: $fontRobotoLight

.btn
  width: 100%
  height: auto
  display: inline-block
  font-family: $fontRobotoReg
  font-size: $btn-fs
  line-height: $btn-lh
  color: $btn-color
  text-align: center
  vertical-align: middle
  cursor: pointer
  user-select: none
  border: $btn-border-width solid transparent
  background: rgb(254,228,144)
  background: linear-gradient(180deg, rgba(254,228,144,1) 0%, rgba(250,181,57,1) 100%)
  +border-radius($btn-border-rad)
  padding: $btn-pt 0px $btn-pb
  +box_shadow($btn-shadows)
  &--ic
    position: relative
    padding-right: $btn-ic-pr
    &:after
      content: ''
      position: absolute
      top: calc(50% - 37px/2)
      right: 14px
      background:
        image: url("../images/ic_fingerprint.png")
        repeat: no-repeat
        size: cover
      width: $btn-ic-width
      height: $btn-ic-height
  &__ic
    position: absolute
    right: $btn-ic-pr
    top: $btn-pt
    height: calc(100% - #{$btn-pt} - #{$btn-pb})
    width: 1px
    background-color: #ffe76d


.highlighted
  background-color: $highlighted-color

.whatsapp
  display: inline-block
  width: $wa-width
  min-width: $wa-width
  height: $wa-height
  background:
    image: url(../images/ic_whatsapp.svg)
    size: contain
    repeat: no-repeat

.telegram
  display: inline-block
  width: $tl-width
  min-width: $tl-width
  height: $tl-height
  background:
    image: url(../images/ic_telegram.svg)
    size: contain
    repeat: no-repeat

.instagram
  display: inline-block
  width: $ins-width
  min-width: $ins-width
  height: $ins-height
  background:
    image: url(../images/ic_instagram.svg)
    size: contain
    repeat: no-repeat

.facebook
  display: inline-block
  width: $fb-width
  min-width: $fb-width
  height: $fb-height
  background:
    image: url(../images/ic_facebook.svg)
    size: contain
    repeat: no-repeat


.clock
  position: relative
  &:before
    content: ''
    position: absolute
    top: -4px
    left: -37px
    width: 27px
    height: 27px
    background:
      color: transparent
      image: url("../images/ic_clock.svg")
      repeat: no-repeat
      size: cover


.ic-phone
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: -54px
    left: calc(50% - 17px)
    width: 34px
    height: 34px
    background:
      color: transparent
      image: url("../images/ic_phone.svg")
      repeat: no-repeat
      size: cover

.line
  display: block
  width: 100px
  height: 1px
  margin: 22px 0px
  border-top: 1px solid #FFFFFF

.mb-3px
  margin-bottom: 3px !important

.mb-18px
  margin-bottom: 18px !important

.mb-10px
  margin-bottom: 10px !important
