/* main fonts var*/
$fontSizeMain: 16px
$fontColorMain: #2d2d2d


$fontRobotoReg: 'Roboto-Regular', sans-serif
$fontRobotoLight: 'Roboto-Light', sans-serif
$fontRobotoLightItalic: 'Roboto-LightItalic', sans-serif
$fontBebasNeueReg: 'BebasNeue-Regular', sans-serif
$fontBebasNeueBold: 'BebasNeue-Bold', sans-serif


$fontSize_h1: 60pt
$fontSize_h2: 50pt
$fontSize_h3: 30pt
$fontSize_h4: 20pt

$btn-color: #000000
$btn-border-width: 0px
$btn-border-rad: 5px
$btn-pt: 14px
$btn-pb: 11px
$btn-fs: 18px
$btn-lh: 35px
$btn-shadows: 0px 12px 16px 0px rgba(0,0,0,0.21)
$btn-ic-width: 30px
$btn-ic-height: 37px
$btn-ic-pr: 60px


