.banner
  max-width: 615px
  flex-grow: 1
  +flexbox()
  +flex-direction(column)
  +justify-content(flex-start)
  margin-top: 70px
  position: relative
  +phone
    margin-top: 40px

.banner-comp
  position: relative
  &:after
    content: ''
    position: absolute
    top: 32px
    right: -658px
    width: 619px
    height: 632px
    z-index: 5
    background:
      color: transparent
      image: url("../upload/laptop.png")
      repeat: no-repeat
      size: contain
    +medium
      width: 419px
      height: 432px
      right: calc(-419px + 190px)
      top: calc(432px / 2 + 90px)
    +tablet
      width: 317px
      height: 324px
      top: unset
      bottom: -90px
      left: calc(50% + 25px)
    +phone
      left: calc(50% - 317px / 2)

.banner-money
  position: relative
  &:before
    content: ''
    position: absolute
    top: 338px
    right: -778px
    width: 700px
    height: 535px
    z-index: 6
    background:
      color: transparent
      image: url("../upload/money_fly.png")
      repeat: no-repeat
      size: cover
    +medium
      top: 380px
      right: -320px
      width: 500px
      height: 335px
      background-size: contain
    +tablet
      width: 278px
      height: 212px
      top: unset
      bottom: -30px
      left: calc(50% + 40px)
      right: unset
    +phone
      left: calc(50% - 278px / 2)


  .btn
    width: $banner-btn-width
    +phone
      +align-self(center)
      width: calc(100% - 20px)
  .title
    margin-bottom: 25px
    line-height: 62px
    letter-spacing: -0.3px
    +phone
      font-size: 40px
      line-height: 46px
      margin-bottom: 55px
  .title--sub
    line-height: 1.6
    margin-bottom: 39px
    +phone
      font-size: 16px
      line-height: 22px
      margin-bottom: 30px
  .time-label
    right: -213px
    top: 120px
    +tablet
      right: 65px
      top: 253px
    +phone
      right: 20px
      top: 196px
    +phone_1
      right: 127px
      top: 236px
    +phone_min
      right: 70px

.wrap-header
  width: 100%
  //min-height: 900px
  background-color: #ffffff
  background-image: url(../upload/bg_banner.jpg)
  background-repeat: no-repeat
  background-size: cover
  position: relative
  .container
    min-height: 900px
    +flexbox()
    +flex-direction(column)

.time-label
  +inline-flex
  +align-items(center)
  +justify-content(center)
  position: absolute
  width: 247px
  height: 247px
  top: 0px
  right: 0px
  color: #FFFFFF
  font-family: $fontBebasNeueReg
  line-height: 1
  text-align: center
  background-color: transparent
  background-image: url(../images/ic_label.png)
  background-size: cover
  background-position: 0 0
  background-repeat: no-repeat
  +tablet
    width: 128px
    height: 128px
  .inner
    +inline-flex
    +align-items(center)
    +justify-content(center)
    +flex-direction(column)
    margin-left: 30px
    margin-top: -10px
    +tablet
      margin-left: 12px
      margin-top: 1px
  &__digit
    font-size: 50px
    +tablet
      font-size: 30px
      line-height: 0.8
  &__text
    font-size: 24px
    line-height: 28px
    +tablet
      font-size: 13px
      line-height: 15px


.tender-score
  +flexbox
  margin-bottom: 50px
  +phone
    margin-bottom: 15px
  &__in
    width: $tender-score-width
    height: $tender-score-height
    color: $tender-score-col
    +border_radius($tender-score-rad)
    font-size: $tender-score-fs
    font-family: $fontRobotoLight
    padding: 13px 18px
    line-height: 16px
    &--red
      width: $tender-score-red-width
      background: rgb(245,92,144)
      background: linear-gradient(182deg, rgba(245,92,144,1) 0%, rgba(241,83,94,1) 100%)
      margin-right: 15px
    &--blue
      width: $tender-score-blue-width
      background: rgb(100,178,234)
      background: linear-gradient(182deg, rgba(100,178,234,1) 0%, rgba(98,130,222,1) 100%)
  &__count
    display: block
    font-family: $fontBebasNeueReg
    font-size: 26px
    margin-top: 11px
  &__label
    display: inline-block
    text-align: center
    padding: 5px 10px
    +border_radius($tender-score-label-rad)
    margin-top: 10px

.tender-score__in--red
  .tender-score__label
    background-color: #b43a3e

.tender-score__in--blue
  .tender-score__label
    background-color: #3e6bbd


