.footer-wrap
  background-color: #0e3264
  padding: 40px 0px 20px

.footer
  +flexbox
  +flex-direction(column)
  color: #f2f0fd
  font-size: 16px
  line-height: 25px

.footer-row
  +flexbox
  +justify-content(space-between)
  +align-self(center)

.footer-text
  width: 355px

.footer-phone
  +flexbox
  +flex-direction(column)
  +justify-content(flex-start)
  .footer-ic
    width: 17px
    height: 17px

.footer-phone__text
  color: #bebebe
  padding-left: 20px

.footer-ic
  fill: #fddd7a

.footer-email
  .footer-ic
    width: 18px
    height: 13px

.footer-msg
  .footer-ic
    width: 16px
    height: 15px
