.header
  +flexbox
  +justify-content(space-between)
  +align-items(center)
  margin-top: $header-mt


.logo
  display: inline-block
  font-size: $logo-fs
  text-transform: uppercase
  &__link
    font-family: $fontBebasNeueBold
    letter-spacing: $logo-link-ls
    &:hover
      text-decoration: none
  &__text--blue
    color: $logo-blue
  &__text--grey
    color: $logo-grey


.menu
  +flexbox
  list-style: none
  margin-bottom: 0
  &__item
    font-family: $fontRobotoReg
    font-size: $menu-link-fs
    line-height: $menu-link-lh
    margin-right: $menu-link-mr
  &__link
    color: $menu-link-color
    &:hover
      text-decoration: none
      color: $logo-blue

.contacts
  +flexbox
  +flex-direction(column)
  +align-items(flex-end)
  &__text
    font-size: $contact-text-fs
    font-family: $fontBebasNeueReg
    color: $contact-text-color
    line-height: $contact-text-lh
    letter-spacing: 0.5px
  &__phone
    font-size: $contact-text-fs
    font-family: $fontBebasNeueReg
    color: $contact-text-color
    line-height: $contact-text-lh
    letter-spacing: 0.4px
    &:hover
      text-decoration: none
      color: $contact-text-color
  &-wa
    +flexbox()
    +align-items(center)
    +justify-content(space-between)
    width: $contact-wa-width
    font-size: $contact-wa-fs
    font-family: $fontRobotoReg
    color: $contact-wa-color
    text-align: right
    line-height: 1.5
    &:hover
      text-decoration: none
      color: $contact-wa-color


.header
  .logo
    +align-self(flex-start)
    margin-top: 7px
    flex-grow: 1
  .menu
    +align-self(flex-start)
    margin-top: 14px
    margin-left: 60px
    padding: 0px
    flex-grow: 1
    +tablet
      margin-left: 90px
    &__item
      +tablet
        margin-right: 35px
  .contacts-wa
    margin-top: 3px
  .contacts__phone
    margin-top: 3px
