.mission_wrap
  background-color: #f2f0fd
  position: relative
  padding-top: 15px
  background-image: url('../upload/bg_mission.png')
  background-repeat: no-repeat
  background-size: contain

.mission
  margin-top: 50px
  width: 100%
  +flexbox
  +flex-direction(column)
  +justify-content(center)
  //align-content: center
  align-items: center
  position: relative

.mission-bl
  +flexbox
  +justify-content(center)
  +flex-direction(column)
  +justify-content(center)
  display: block
  margin: 0 auto
  max-width: 764px
  padding: 34px 188px 26px 40px
  background-color: #009af9
  color: #FFFFFF
  +border_radius(10px)
  position: relative
  margin-bottom: 107px

  +tablet
    width: 100%
  +phone
    padding: 30px 10px 15px 20px
    margin-bottom: 38px

  &:before
    content: ''
    position: absolute
    top: 0px
    right: -1px
    width: 280px
    height: 139px
    border-bottom-right-radius: 8px
    background:
      color: transparent
      image: url("../upload/our_mission.png")
      repeat: no-repeat
      size: contain
    +phone
      display: none

  .title
    font-size: 40px
    margin-bottom: 0
    letter-spacing: 0.8px
    position: relative
    padding-right: 10px
    &:after
      content: ''
      display: inline-block
      position: absolute
      top: calc(50% - 1px)
      width: 180px
      height: 1px
      background-color: #FFFFFF
      +phone
        right: 0px
        width: 30%

  .subtitle
    font-family: $fontBebasNeueReg
    font-weight: normal
    font-size: 27px
    margin-bottom: 0
    line-height: 1.3
    letter-spacing: -0.3px

.mission
  &__in
    width: 100%
    +flexbox
    +flex(row)
    +justify-content(center)
    +align-self(center)
    +tablet
      +flex-direction(column)

  &__capture
    margin: 0px
    +flexbox
    +flex-direction(column)
    +justify-content(space-between)
    +align-self(start)
    position: relative

    .title
      letter-spacing: 0.8px
      margin-bottom: 14px
      +phone
        margin-bottom: 20px

  &__description
    color: #6e6d73
    font-family: $fontRobotoLight
    line-height: 20px
    +tablet
      margin-bottom: 90px

  &__img
    +align-self(center)
    margin-top: -15px
    +tablet
      +align-self(center)
    +tablet
      position: absolute
      bottom: 50px
      //left: -45px
      left: calc(50% - 220px)
      z-index: 1

    img
      width: 323px
      height: 431px
      +rotate(20)

      +tablet
        width: 150px
        height: auto

.mission__list
  //min-height: 100%
  //width: 70%
  +flexbox
  +flex-wrap(wrap)
  +justify-content(flex-end)
  +align-items(flex-start)
  margin: 0px
  padding: 0px
  margin-top: 40px
  +tablet
    width: 100%

.mission__item
  max-width: 333px
  min-height: 185px
  +flexbox
  +flex-direction(column)
  +justify-content(flex-start)
  padding: 30px 23px 15px 35px
  margin-right: 50px
  margin-bottom: 65px
  list-style: none
  font-family: "Roboto-Light"
  line-height: 20px
  color: #707070
  background-color: #ffffff
  letter-spacing: 0.3px
  +box_shadow(7px 15px 51px 0px rgba(213,219,233,0.55))
  +border_radius(10px)
  position: relative

  &:nth-child(even)
    margin-right: 0px

  +medium
    margin-bottom: 60px
    margin-right: 20px
    max-width: 270px
    min-height: 240px
    padding-top: 55px

  +tablet
    margin-left: 0px
    margin-right: 50px
    margin-bottom: 65px
    max-width: 333px
    min-height: 185px
    padding-top: 15px

  +phone
    min-width: 100%
    margin-bottom: 60px
    margin-right: 0px
    max-width: 270px
    min-height: 240px
    padding-top: 55px

  .title
    color: #000000
    letter-spacing: 0.6px
    line-height: 1
    margin-bottom: 10px

  .ask_question
    font-size: 14px
    text-decoration: none
    color: #5cbdfe
    +align-self(flex-end)
    margin-top: auto

.mission__item::before
  background-color: #2498f2
  background-repeat: no-repeat
  background-position: center
  background-size: 49px 47px
  width: 92px
  height: 92px
  +border_radius(50%)
  display: block
  position: absolute
  right: 20px
  top: -46px
  content: ' '
  +box_shadow(7px 15px 51px 0px rgba(213,219,233,0.55))

.research::before
  background-image: url('../images/ic_research.svg')
.bar_chart::before
  background-image: url('../images/ic_bar_chart.svg')
.profile::before
  background-image: url('../images/ic_profile.svg')
.resume::before
  background-image: url('../images/ic_resume.svg')
.analytics::before
  background-image: url('../images/ic_analytics.svg')
.bar_chart1::before
  background-image: url('../images/ic_bar_chart1.svg')

.mission__footer
  +flexbox
  +flex-direction(column)
  +justify-content(flex-start)
  +align-items(flex-start)
  +align-self(flex-end)
  font-family: 'Roboto-Light'
  letter-spacing: 0.3px
  padding: 37px 152px 85px 0
  +tablet
    padding: 0px 0px 22px 0px
    text-align: center

  .title
    letter-spacing: 1px
    margin-bottom: 9px


.slogan
  width: 300px
  padding: 30px 35px
  position: relative
  +flexbox
  +flex-direction(column)
  +justify-content(center)
  align-content: center
  background-color: #ffffff
  font-family: 'Roboto-LightItalic'
  font-size: 1rem
  +box_shadow(7px 15px 51px 0px rgba(213,219,233,0.55))
  +border_radius(8px)
  +phone
    font-size: 16px
  .tooltip_info
    display: inline-block
    width: 20px
    height: 20px

.slogan.dollar::before
  right: -27px
  top: -10px

.shadow, .shadow2
  width: 93%
  height: 10px
  +border_radius(0 0 10px 10px)
  background: #e6e9f2
  background: -moz-linear-gradient(top,  #e6e9f2 36%, #f1f3f8 100%)
  background: -webkit-linear-gradient(top,  #e6e9f2 36%,#f1f3f8 100%)
  background: linear-gradient(to bottom,  #e6e9f2 36%,#f1f3f8 100%)
.shadow2
  width: 78%

.dollar::before
  background-image: url('../upload/dollar.png')
  background-size: 77px 50px
  width: 77px
  height: 50px
  display: block
  position: absolute
  right: -27px
  top: -15px
  transform: rotate(20deg)
  content: ''

.slogan span::after
  content: url('../upload/tooltip_info.png')
  width: 19px
  height: 19px
  display: inline-block
  vertical-align: bottom
  margin-left: 15px
  margin-top: 2px

.slogan-wrap
  +inline-flex
  +flex-direction(column)
  +justify-content(center)
  +align-items(center)
  +align-self(flex-start)
  +tablet
    margin-bottom: 50px

.mission
  .slogan-wrap
    +align-self(center)
    +tablet
      +align-self(center)


.mission__item
  &.slick-slide
    margin-top: calc(92px / 2)
    min-height: auto
    min-width: auto
    max-width: calc(100% - 30px)
    padding: 30px 23px 15px 35px
    margin-right: 0px
    margin-bottom: 3px

.mission
  .slick-initialized .slick-slide
    +flexbox

  .slick-dots li
    width: 6px
    height: 6px
    margin: 0 5px

    button
      width: 6px
      height: 6px
      line-height: 6px


    button:before
      color: #b4b4b4
      width: 6px
      height: 6px
    &.slick-active
      button:before
        color: #2698f2

  .slick-dotted.slick-slider
    margin-bottom: 60px
