.steps-wrap
  &--white
    background-color: #FFFFFF
  &--grey
    background-color: #f2f0fd

  .container
    +phone
      padding-right: 0px
      padding-left: 0px

.steps
  +flexbox
  +justify-content(space-between)
  padding: 100px 0px 70px
  +ipad
    +flex-wrap(wrap)
    +justify-content(center)
  +phone
    padding: 15px 0px


.steps-item
  +flexbox
  +flex-direction(column)
  width: 472px
  //padding: 63px 45px 27px
  padding: 63px 45px 56px
  margin: 0 25px
  +border_radius(8px)
  position: relative
  +ipad
    margin: 25px 0px
    width: 100%
  +phone
    padding: 63px 23px 58px
    margin: 22px 0px 0

  &--blue
    background-color: $blue
    color: #FFFFFF
  &--transp
    background-color: transparent
    color: #000000
  &--row
    +flex-direction(row)
    +phone
      +flex-direction(column)
      padding: 0px 0px 20px
  .btn
    width: 254px
    padding: 9px 0px 9px
    letter-spacing: 0.3px


.phrase
  display: block
  font-size: 31px
  font-family: $fontBebasNeueReg
  text-transform: uppercase
  line-height: 35px
  letter-spacing: 0.5px
  margin-bottom: 12px
  +phone
    font-size: 20px
    line-height: 1.5

.quote
  position: relative
  &:before
    content: ''
    display: inline-block
    position: absolute
    top: -36px
    left: 0px
    width: 25px
    height: 20px
    background:
      color: transparent
      image: url("../images/ic_right_quote.svg")
      repeat: no-repeat
      size: cover
    +phone
      left: 16px
      top: -24px

.footnote
  display: inline-block
  font-size: 16px
  letter-spacing: 0.3px

.steps-item-wrap
  +flexbox
  +flex-direction(column)
  margin-left: 24px
  +phone
    margin-left: 0px

.steps__num
  font-size: 60px
  font-family: $fontBebasNeueLight
  letter-spacing: 2px
  font-weight: normal
  text-transform: uppercase

.steps-item__title
  font-size: 30px
  font-weight: normal
  margin-bottom: 5px
  letter-spacing: 1px
  line-height: 1.4

.steps-item__text
  font-size: 16px
  line-height: 23px
  letter-spacing: 0.3px
  margin-bottom: 38px
  +phone
    margin-bottom: 20px

.steps-item--s
  width: 550px
  padding: 20px 0px 20px
  position: relative
  +ipad
    width: 100%
    padding: 0 0px 20px
  +phone
    margin: 22px 12px

.magnet
  &:before
    content: ''
    display: inline-block
    position: absolute
    bottom: 13px
    right: 0px
    width: 193px
    height: 111px
    background:
      color: transparent
      image: url("../upload/magnet.png")
      repeat: no-repeat
      size: cover
    +phone
      top: 46px
      right: 136px
      width: 90px
      height: 51px

.steps-item--t
  width: 547px
  padding: 20px 0px 196px
  margin: 0 16px
  +ipad
    width: 100%
    margin-bottom: 55px
  +phone
    padding: 5px 0px 0

  &.arrow:after
    +ipad
      display: none

  .title
    margin-bottom: 15px
    +phone
      margin-bottom: 0px

.elephant
  &:before
    content: ''
    display: inline-block
    position: absolute
    bottom: -110px
    right: 48px
    width: 504px
    height: 312px
    background:
      color: transparent
      image: url("../upload/elephant_big.png")
      repeat: no-repeat
      size: cover
    +phone
      top: 0
      right: 90px
      width: 209px
      height: 129px


.steps-item--fh
  padding: 60px 52px 0
  width: 480px
  margin: 0 44px
  +align-self(center)
  +ipad
    width: 100%
    margin: 0px
  +phone
    padding: 47px 23px 7px
    margin-top: 6px

.ava
  +inline-flex
  +flex-direction(column)
  position: absolute
  bottom: 18px
  right: 27px
  +phone
    bottom: 24px
    right: 24px
  &__pict
    +flexbox
    +justify-content(center)
    width: 85px
    height: 85px
    +border_radius(50%)
    background-color: #FFFFFF
    overflow: hidden
  img
    width: 106px
    height: 101px
